.game-board {
  display: flex;
  margin: auto;
}

.game-row {
  display: flex;
}

.game-col {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.game-winner {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
}
