.scrabble-container {
  min-height: 100vh;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-col {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  align-items: center;
}

.board-col span.letter {
  width: 100px;
  padding: 20px 5px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 30px;
}

.board-col span.candidate {
  width: 100px;
  padding: 20px 5px;
  border-radius: 10px;
  background-color: lightgray;
  font-size: 30px;
}

.board-col span.candidate.overlap,
.board-col span.letter.overlap {
  width: 50px;
  margin-left: 5px;
}

.level-types-btns {
  margin: 20px;
}

.board-container {
  margin-top: 30px;
}
